/*评论去除边框*/
#ds-thread #ds-reset li.ds-post, #ds-thread #ds-reset .ds-post-self {border:0 !important;}
/*设置用户头像圆角,位置*/
#ds-reset .ds-avatar, #ds-thread #ds-reset ul.ds-children .ds-avatar {position:absolute;top:26px;padding:5px;width:36px;height:36px;border-radius:50px !important;}
#ds-reset .ds-avatar img {width:36px !important;height:36px !important;border-radius:50px !important;
    -webkit-transition:.4s all ease-in-out;-moz-transition:.4s all ease-in-out;-o-transition:.4s all ease-in-out;-ms-transition:.4s all ease-in-out;transition:.4s all ease-in-out;
}
/*头像旋转*/
.ds-post-self:hover .ds-avatar img {-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg);transform:rotate(360deg);}
/*评论背景,圆角,阴影*/
#ds-thread #ds-reset .ds-comment-body {background: #F0F0E3;padding:15px 15px 12px 60px !important;border-radius:5px; box-shadow:0 1px 2px rgba(0,0,0,.15), 0 1px 0 rgba(255,255,255,.75) inset;}
/*用户名*/
#ds-thread #ds-reset .ds-comments a.ds-user-name {font-weight:bold;color:#696A52 !important;}
#ds-thread #ds-reset .ds-comments a.ds-user-name:hover {color:#D32 !important;}
/*将评论框底部的分享到微博QQ空间什么的隐藏起来*/
.ds-sync{display:none !important;}
.ds-textarea-wrapper.ds-rounded-top{background: #ffffff !important;} /*定义评论框背景*/
#ds-reset .ds-gradient-bg{background:none !important;} /*隐藏评论框底部渐变背景*/
#ds-thread #ds-reset .ds-comment-body p{color:#787968} /*评论正文的字体颜色*/
/*定义发布按钮字体，以及渐变色背景*/
#ds-thread #ds-reset .ds-post-button{font-family: ‘微软雅黑’‘Microsoft Yahei’!important;
    font-weight: bold;font-size:12px;background:none !important;color:#49976b !important;}
/*隐藏评论右上方 最热 最新排序按钮*/
#ds-thread #ds-reset .ds-sort {display:none;}
/*评论左上方 评论总数背景色及边框*/
#ds-thread #ds-reset ul.ds-comments-tabs li.ds-tab a.ds-current {border:0px;color:#848568;text-shadow:none;background:#dddfc2}
#ds-thread #ds-reset .ds-highlight {font-family:Arial, Helvetica, sans-serif;font-size:14px;font-weight:bold;color:#848568 !important;}
#ds-thread #ds-reset ul.ds-comments-tabs li.ds-tab a.ds-current:hover {color:#696a52;background:#d4d6ba}
#ds-thread #ds-reset a.ds-highlight:hover {color:#696a52 !important;}
/*评论内嵌回复框的头像*/
#ds-reset .ds-replybox.ds-inline-replybox a.ds-avatar {left: 0;top: 0; padding: 0;width: 32px !important;height: 32px !important; background: none;box-shadow: none; }
#ds-reset .ds-replybox.ds-inline-replybox a.ds-avatar img {width: 32px !important;height: 32px !important; border-radius:50%;}
/*回复框的头像*/
#ds-reset .ds-replybox a.ds-avatar,
#ds-reset .ds-replybox .ds-avatar img { padding:0;width:50px !important;height:50px !important; border-radius:50px; }
/*回复框去阴影*/
#ds-thread #ds-reset .ds-replybox {box-shadow:none;}