body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 18px;
}
H1,H2,H3,H4,H5 {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    line-height: 150%;
    color: #666666;
}

h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
img {
    box-shadow: 0 0 10px #555;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 0 10px #555;
    max-width: 100%;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel-title{
    text-align: center;
    font-szie: 24px;
}
.panel-footer{
    text-align: center;
    box-shadow: none;
    background-image: none;
    background-color: #fff;
}
.panel-default > .panel-heading {
    background-image: none;
    background-color: #fff;
}
.navbar-default {
    background-image: none;
    background-color: #fff;
    box-shadow: none;
}

.footer{
    text-align: center;
}