body {
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 18px;
}
.title a {
    display: block;
}
.title {
    cursor: pointer;
}
.pager {
    margin-bottom: 60px;
    text-align: left;
}
.pager > li > a {
    width: 140px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}
.panel-default > .panel-heading {
    background-image: none;
    background-color: #fff;
}
.navbar-default {
    background-image: none;
    background-color: #fff;
    box-shadow: none;
}
.footer{
    text-align: center;
}
a:link, a:visited {
    color:#666;
    text-decoration:none;
}
a:hover, a:active {
    color:#58D68D;
    text-decoration:none;
}